.logo {

  // &-wrapper {
  //   margin-top: 7%;
  // }
  &-container {
    background-color: #000;
    z-index: 1;


  }

  &-image {
    width: 85%;
    max-width: 290px;
    margin: 0 auto;

    // &:before,
    // &:after {
    //   display: block;
    //   content: '';
    //   position: absolute;
    //   z-index: 1;
    //   top: 0;
    //   height: 100%;
    //   width: 4px;
    //   background-color: #fff;
    // }

    &:before {
      left: -3%;
    }

    &:after {
      right: -3%;
    }
  }

  &-frame {
    position: absolute;
    top: -15%;
    left: 5%;
    width: 90%;
    height: 130%;
    border: 4px solid #000;
  }
}

.menu-burger {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;

  &-wrapper {
    background-color: #000;
    // width: 30px;
    text-align: center;
    padding: 0 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    i {
      color: #fff;
      margin: 0;
    }
  }
}

.nav {
  &-container {
    text-align: center;
    padding: 0;

    a {
      color: #000;
    }

    .ui.text.menu .active.item {
      transition: background-color .2s;
      background-color: #000;
      
      a {
        color: #fff;
      }
    }
  }
  
  &-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
      width: 70px;
      justify-content: center;

      .ui.compact.menu &:last-child {
        border-radius: 0;
      }
    }

    span.divider {
      width: 20px;
      height: 1px;
      margin: 0 8px;
      background-color: rgba(0, 0, 0, 0.4);
    }


  }
}