.catalog {
  &-wrapper {
    // margin: 7% 5%;
    // border: 4px solid #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 5%;
  }

  &-item {
    &-link-wrapper {
      width: 50%;
      padding-top: 12px;
      padding-bottom: 12px;

      &:nth-child(odd) {
        padding-right: 8px;
      }

      &:nth-child(even) {
        padding-left: 8px;
      }

      &.go {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-label {
      &.ui.floating.label {
        left: 10px;
      }
    }

    &-image-placeholder.ui.placeholder {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
    }

    &-container {
      padding: 0 5%;
      margin: 24px auto;

      .image-wrapper {
        padding: 8px 0;
      }



      .back-homepage {
        margin: 24px 0;
      }
    }

    &-description {
      margin-bottom: 12px;
    }

    &-header.ui.header {
      margin-top: 10px;
    }
  }
}

.category {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 101;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    padding: 15px;

    &:before {
      display: block;
      content: '';
      background-color: #000;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      top: -6px;
    }

    h3.ui.header {
      color: #fff;
      padding: 12px 0;

      &.active {
        color: #ff0000;
      }
    }
  }
}

.footer {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.social-menu {
  &.ui.compact.menu {
    justify-content: center;
    margin-top: 8px;
  }
}