.catalog {
  &-wrapper {
    margin: 10% 5%;
    border: 4px solid #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 16px;
  }

  &-item {
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;

    &:nth-child(odd) {
      padding-right: 8px;
    }
    &:nth-child(even) {
      padding-left: 8px;
    }
    &-header.ui.header {
      margin-top: 10px;
    }
  }
}