.custom-divider {
  margin: 10% 5% 4%;
  display: flex;
  white-space: nowrap;
  height: auto;
  line-height: 1;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  i.icon {
    margin: 0;
  }

  &:after,
  &:before {
    content: '';
    display: inline-flex;
    position: relative;
    // top: 50%; TODO: check if #root display not flex
    height: 2px;
    border-top: 2px solid rgba(0, 0, 0, .6);
    animation: fullWidth 1.2s forwards 1.2s;
  }
}

@keyframes fullWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 43%;
  }
}