* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  // width: 100%;
  height: 100%;
}

#root {
  width: inherit;
  height: inherit;
  // display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#app {
  width: inherit;
  height: inherit;
}

.back-to-top {
  right: 70px;
}

p {
  margin: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers})
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers})
}
